@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Open Sans', sans-serif;
}

.header {
  font-family: 'Raleway', sans-serif;

  background: hsl(217, 28%, 15%) url('../images/bg-curvy-desktop.svg') bottom center no-repeat;
}

.header-top {
  padding: 73px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  background: hsl(218, 28%, 13%);
}

.footer {
  background: hsl(216, 53%, 9%);
}